@tailwind base;
@tailwind components;
@tailwind utilities;

.messageCount {
    background-image: url("./images/chatbox.svg");
    background-position: cover;
    background-repeat: no-repeat;
}

body {
    background-color: #f8fafc;
}

.postCardImage {
	width: 300px;
    height: 180px;
	object-fit: cover;
}

/* forces the form-select (drop-down menu) to have a black border color regardless of focus */
.form-select:focus {
    border-color: transparent;
}

.animalPicture{
    width: 500px;
    height: 250px;
	object-fit: cover;
}